#contact_modal {
    display: none;
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 5%;
    border-radius: 5px;

}

//Menu Déroulant
.dropdown-container {
    margin-left: 5%;
    margin-bottom: 3%;
    margin-top: 1%;

    label {
        color: #000;
        font-family: "DM Sans";
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    select {
        font-size: 18px;
        font-family: "DM Sans";
        font-weight: bold;
        color: white;
        padding: 10px;
        width: 170px;
        height: 40px;
        border: none;
        background-color: $red;
        border-radius: 5px;
        cursor: pointer;
        appearance: none;
        border: none;

    }

}

//fiche des photographes
article {
    display: flex;

    h2 {
        color: #D3573C;
        font-family: "DM Sans";
        font-size: 64px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    h3 {
        color: #901C1C;
        font-family: "DM Sans";
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    h4 {
        color: #525252;
        font-family: "DM Sans";
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}


.photographer-page {
    display: flex;
    justify-content: space-between;


    article {
        display: flex;
        justify-content: space-between;
        margin-right: 0%;
        width: 100%;
        align-items: center;
        padding-left: 50px;
        padding-right: 50px;
    }
}


.photographer-page img {
    object-fit: cover;
    border-radius: 100px;
    width: 200px;
    height: 200px;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 8%;
    margin-right: 0%;
}




//medias
section#medias {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%;

    a {
        margin-bottom: 20px;

        article {
            display: flex;
            flex-direction: column;
            width: 350px;

            img {
                object-fit: cover;
                width: 350px;
                height: 300px;
                border-radius: 5px;
            }

            ///video 
            .class-perso-video {
                width: 350px;
                height: 300px;
                object-fit: cover;
                border-radius: 5px;
            }

            .container-description {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 10px;

                .name {
                    font-family: DM Sans;
                    font-size: 24px;
                    font-weight: 400;
                    line-height: 31px;
                    letter-spacing: 0em;
                    text-align: left;
                    color: $red;
                    padding-right: 10.38px;
                }

                .container-like {
                    display: flex;
                    align-items: center;

                    .like-number {
                        font-family: DM Sans;
                        font-size: 24px;
                        font-weight: 500;
                        line-height: 31px;
                        letter-spacing: 0em;
                        text-align: right;
                        color: $red;
                    }

                    img {
                        height: 19px;
                        width: 19px;
                    }
                }
            }
        }
    }



}



//tarif journalier des photographes

#tarifs {
    border-radius: 5px;
    background: #DB8876;
    color: #000;
    text-align: center;
    font-family: "DM Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 300px;
    bottom: 0;
    right: 0;
    padding: 20px;

    div {
        display: flex;
        align-items: center;

        #total-likes {}

        img {
            height: 19px;
            width: 19px;
            padding-left: 10px;
        }

    }

    #tarif-journalier {}
}